#website-head {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #848096;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

#profile {
  margin-top: 150px;
}