.unique-tweet {
  height: 280px;
  border: 3px solid;
  margin-top: 30px;
}

.tweet-head {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0px 30px 0px 30px;
}

.tweet-middle {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.tweet-foot {
  display: flex;
  font-size: 16px;
  margin: 40px 10px 0px 10px;
  border-top: 2px solid;
  padding: 0px 15px 0px 15px;
  justify-content: space-between;
  
}

.images {
  margin-top: 10px;
  color: lightcoral;
}

.images > i:hover {
  color: paleturquoise;
}

.unique-tweet:hover {
  box-shadow: 5px 10px rgb(175, 221, 171);
}

.fa-kiwi-bird {
  margin-right: 10px;
}

.fa-retweet {
  padding: 0px 2px;
}

.handle { 
  color: rgb(170, 170, 170);
}

.user {
  display: flex;
  align-items: center;
}